<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>mondai</servlet-name>
		<servlet-class>kakomon3.Kakomon3Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mondai</servlet-name>
		<url-pattern>/mondai</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>tag</servlet-name>
		<servlet-class>kakomon3.Kakomon3TagServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tag</servlet-name>
		<url-pattern>/tag</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Kakomon3Init</servlet-name>
		<servlet-class>kakomon3.Kakomon3InitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Kakomon3Init</servlet-name>
		<url-pattern>/init</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
