<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<servlet>
		<servlet-name>genre</servlet-name>
		<servlet-class>kakomon3.admin.KakomonGenreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>genre</servlet-name>
		<url-pattern>/admin/genre</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>genreAdd</servlet-name>
		<servlet-class>kakomon3.admin.KakomonGenreAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>genreAdd</servlet-name>
		<url-pattern>/admin/genreAdd</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>genreReload</servlet-name>
		<servlet-class>kakomon3.admin.KakomonGenreReloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>genreReload</servlet-name>
		<url-pattern>/admin/genreReload</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>mondai</servlet-name>
		<servlet-class>kakomon3.admin.Kakomon3ListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mondai</servlet-name>
		<url-pattern>/admin/mondai</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>mondaiAdd</servlet-name>
		<servlet-class>kakomon3.admin.Kakomon3ListAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mondaiAdd</servlet-name>
		<url-pattern>/admin/mondaiAdd</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>tag</servlet-name>
		<servlet-class>kakomon3.admin.Kakomon3TagServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tag</servlet-name>
		<url-pattern>/admin/tag</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Kakomon3Init</servlet-name>
		<servlet-class>kakomon3.admin.Kakomon3InitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Kakomon3Init</servlet-name>
		<url-pattern>/admin/init</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>QuizList</servlet-name>
		<servlet-class>kakomon3.quiz.KakomonQuizListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuizList</servlet-name>
		<url-pattern>/quiz/list</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Quiz</servlet-name>
		<servlet-class>kakomon3.quiz.KakomonQuiz2Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Quiz</servlet-name>
		<url-pattern>/quiz/toi</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>QuizKotae</servlet-name>
		<servlet-class>kakomon3.quiz.KakomonQuizKotaeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuizKotae</servlet-name>
		<url-pattern>/quiz/answer</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Bunseki</servlet-name>
		<servlet-class>kakomon3.quiz.KakomonBunseki2Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Bunseki</servlet-name>
		<url-pattern>/quiz/bunseki</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>admincheck</filter-name>
		<filter-class>kakomon3.filter.AdminCheckFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>admincheck</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>logincheck</filter-name>
		<filter-class>kakomon3.filter.LoginCheckFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>logincheck</filter-name>
		<url-pattern>/quiz/*</url-pattern>
	</filter-mapping>


	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>kakomon3.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>index</servlet-name>
		<servlet-class>kakomon3.Kakomon3Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/index.html</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
